{% extends 'base.html'%}

{% block content %}
  
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About Knowledge is light Consultant</h1>
          
        </div>
      </div>
    </div>
  </section>




  <section id="about" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
      
          <big>Here at Knowledge is Light Consultant, we provide one-on-one tutorials that will increase your knowledge and prepare you for your next big projects. We ensure that you have a smooth transition from a non-IT technical background or career into the Data Analytics field! With dedicated team who will mentor you and tailor their tutoring to your needs, you are guaranteed a great start to your new career in the Industry. We believe that every individual has specific needs and our programs and courses are tailored to such needs. We have qualified subject matter experts to mentor students into their new data Analytics career. </big>
        </div>

        <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title">Misson</h1>
                <big class="card-text">
                  At knowledge is light, we create an environment that ensure every instructor and student are comfortable in achieving their potential, by introducing an up-to-date information and curriculum. 
                </big>
              </div>
            </div>
          </div>
        
      </div>
    </div>
  </section>
  
  <section id="blog" class="py-3 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card-columns">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title"><strong>Reporting Focus</strong></h3>
                <hr>
                <h4>Data Model</h4>
                <h4>Transact-SQL (T-SQL)</h4>
                <h4>Excel</h4>
                <h4>PowerBI</h4>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h3 class="card-title"><strong>Developers Focus</strong></h3>
                <hr>
                <h4>Dimensional Modeling</h4>
                <h4>Advanced Transact-SQL</h4>
                <h4>SSIS</h4>
                <h4>SSRS</h4>

              </div>
            </div>

            
            <div class="card">
             <div class="card-body">
                <h3 class="card-title"><strong>Addional Trainings</strong></h3>
                <hr>
                <p class="card-text">
                  <h4>Tableau</h4>
                  <h4>Python for Data Analysis</h4>
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
    
  
{% endblock%}